*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: #FFFFFF;
}
/* header part start */
.container{
    width: 96%;
    height: 100vh;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-part{
    width: 800px;
    height: 300px;
    color: white;
    position: relative;
}
h1{
    font-size: 80px;
    text-align: center;
    margin-bottom: 15px;
}
p{
    font-size: 32px;
    text-align: center;
}
.container1{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.donate{
    position: absolute;
  
    left: 40%;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 25px;
    background-color: tomato;
}
.button{
    top: 120%;
}
/* header part end */

/* donate today part start */

.container1 .ul{
    width: 80%;
    position: absolute;
    right: 0%;
    margin: 20px;
    margin-bottom: 300px;
}

.ul a{
    height: 50px;
    padding: 10px 30px;
    font-weight: bold;
    color: rgb(41, 35, 35);
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    background-color: #FAFAFA;
}
.ul .select{
    background-color: #FFEEEE;
    color: #FF5959;
    border: 1px solid red;
}
.input{
    width: 20%;
    margin: 0 auto;
}
.input input{
    padding: 5px;
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
}
/* donate today part end */

/* Our Donat Plan start */
.container3{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
}
.div1, .div2, .div3{
    width: 400px;
    height: 500px;
    background-color: aqua;
    overflow: hidden;
    margin: 20px 5px;
    font-size: 16px;
    box-shadow: 2px 2px 15px;
    border-radius: 15px;
    padding: 10px 20px;
}

h2{
    padding-top: 30px;
}
div img{
    margin-top: 20px;
}
.div1{
    background-color: #EDF5F6;
}
.div2{
    background-color: #FFEEEE;
}
.div3{
    background-color: #FFF4D6;
}
/* Our Donat Plan end */

/* container4 start  */
.container4{
    width: 100%;
    margin-bottom: 0 auto;
    display: flex;
    position: relative;
    
}
.half-width{
    width: 50%;
    margin: 30px;
    padding: 10px 40px;
    height: 700px;
}
#id a{
    position: absolute;
    left: 300px;
    top: 60%;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 25px;
    background-color: tomato;
}
.half-width img{
    width: 550px;
    height: 500px;
    border-radius: 10px;
}
/* container4 start  */
/* extra experience start */
 .container5{
    width: 1500px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid yellowgreen;
    border-radius: 10px;
    background-color: #694242;


 }
/* extra experience end */